<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport">
    <title>Invoice Screen</title>
    {% load static %}
        {% load i18n %}

    <!-- Favicon -->
    <link href="{% static '/img/favicon.png' %}" rel="shortcut icon">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fontawesome CSS -->
    <link href="{% static 'plugins/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/fontawesome/css/all.min.css' %}" rel="stylesheet">

    <!-- Select2 CSS -->
    <link href="{% static 'plugins/select2/css/select2.min.css' %}" rel="stylesheet">

    <!-- Datepicker CSS -->
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">

    <!-- Main CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <div class="header">

        <!-- Logo -->
        <div class="header-left">
            <a class="logo" href="#">
                <h2 style="line-height:2">Invoice</h2>
            </a>
            <a class="logo logo-small" href="index.html">
                 <h2 style="line-height:2">IV</h2>
            </a>
        </div>
        <!-- /Logo -->

        <!-- Sidebar Toggle -->
        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-bars"></i>
        </a>
        <!-- /Sidebar Toggle -->

        <!-- Mobile Menu Toggle -->
        <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
        </a>
        <!-- /Mobile Menu Toggle -->

    </div>
    <!-- /Header -->

    <!-- Sidebar -->

    <div class="sidebar" id="sidebar" style="{% if is_pay %} display:none {% endif %} ">
        <div class="sidebar-inner slimscroll">
            <div class="sidebar-menu" id="sidebar-menu">
                <ul>
                    <li class="submenu">
                        <a href="#" class="{% if is_home or is_invoices %}active{% endif %}"><i data-feather="grid"></i> <span> Invoices</span> <span
                                class="menu-arrow"></span></a>
                        <ul>
                            <li class=" {% if is_home %}active{% endif %}"><a href="{% url 'invoice:create_invoice' %}">Create Invoice</a></li>
                            <li class="{% if is_invoices %}active{% endif %}"><a href="{% url 'invoice:home' %}">Invoices</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- /Sidebar -->

    {% block content %}


    {% endblock %}

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Feather Icon JS -->
    <script src="{% static 'js/feather.min.js' %}"></script>

    <!-- Slimscroll JS -->
    <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Select2 JS -->
    <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>

    <!-- Datepicker Core JS -->
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>