<!DOCTYPE html>
	{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<p>{% static 'styles.css/' %}</p>
<form action="{% url 'v1_invoice:create_invoice' %}" method="post" class="hi">
    <input name="client_name" type="hidden" value="helloo">
    <input name="client_email" type="hidden" value="helloo@l.com">
    <input name="project_name" type="hidden" value="helloo">
    <input name="amount" type="hidden" value="1200">
    <input type="submit" value="save">
    ykuuJ8BsLeJXMnJpdEFQ
</form>
</body>
</html>