
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title></title>
	{% load static %}

    {% load i18n %}
		<!-- Favicon -->
        <link rel="shortcut icon" href="admin/assets/img/favicon.png">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'admin/assets/css/bootstrap.min.css' %}">

		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'admin/assets/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'admin/assets/plugins/fontawesome/css/all.min.css' %}">

		<!-- Select2 CSS -->
		<link rel="stylesheet" href="{% static 'admin/assets/plugins/select2/css/select2.min.css' %}">

		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'admin/assets/css/style.css' %}">


	  <link rel="stylesheet" href="{% static 'admin/assets/css/owl.carousel.min.css' %}">
	  <link rel="stylesheet" href="{% static 'admin/assets/css/owl.theme.default.css' %}">

	   <script src="{% static 'admin/assets/js/owl.carousel.js' %}"></script>
		<!--[if lt IE 9]>
			<script src="{% static 'admin/assets/js/html5shiv.min.js' %}"></script>
			<script src="{% static 'admin/assets/js/respond.min.js' %}"></script>
		<![endif]-->
    </head>
    <body>

<!-- Main Wrapper -->
        <div class="main-wrapper">

			<!-- Header -->
			<div class="header">

				<!-- Sidebar Toggle -->
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fas fa-bars"></i>
				</a>
				<!-- /Sidebar Toggle -->

				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fas fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
			</div>
			<!-- /Header -->


        {% block content %}


             {% endblock %}

	<!-- jQuery -->
		<script src="{% static 'admin/assets/js/jquery-3.5.1.min.js' %}"></script>

		<!-- Bootstrap Core JS -->
		<script src="{% static 'admin/assets/js/popper.min.js' %}"></script>
		<script src="{% static 'admin/assets/js/bootstrap.min.js' %}"></script>

		<!-- Feather Icon JS -->
		<script src="{% static 'admin/assets/js/feather.min.js' %}"></script>

		<!-- Slimscroll JS -->
		<script src="{% static 'admin/assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

		<!-- Select2 JS -->
		<script src="{% static 'admin/assets/plugins/select2/js/select2.min.js' %}"></script>

		<!-- Custom JS -->
		<script src="{% static 'admin/assets/js/script.js' %}"></script>

			<script>
				$('.post_image_formset table tr.form_set_row').formset({
                prefix: '{{ post_image_formset.prefix }}',
                formCssClass: 'dynamic-formset1',
                'added' : function (row) {
                    row.find('.sale_item select').selectpicker();
                }
            });
          });
			</script>
	</body>

</html>