{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-xl-6 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">
                        <h5 class="card-title">Invoice Form</h5>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'invoice:create_invoice' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Client Name</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="client_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Client Email</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="email" name="client_email">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Project</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="project_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Amount</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="number" name="amount">
                                </div>
                            </div>

                            <div class="text-right">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->
{% endblock %}