{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-stripped table-hover datatable">
                                <thead class="thead-light">
                                <tr>
                                    <th>Customer Name</th>
                                    <th>Customer Email</th>
                                    <th>Project Name</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th class="text-right">Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for in in invoices %}
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="#"> {{ in.client_name }}</a>
                                        </h2>
                                    </td>
                                    <td>{{ in.client_email }}</td>
                                    <td>{{ in.project_name }}</td>
                                    <td>{{ in.amount }}</td>
                                    <td>
                                        {% if in.is_paid %}
										<span class="badge bg-success-light">Paid</span>
                                        {% else %}
                                        <span class="badge bg-danger text-white">Pending</span>
                                        {% endif %}
									</td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a aria-expanded="false" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                               href="#"><i class="fas fa-ellipsis-h"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="{% url 'invoice:make_payment' pk=in.invoice_id %}"><i
                                                        class="far fa-edit mr-2"></i>View</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->
{% endblock %}