{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <!-- Invoice Item -->
                        <div class="invoice-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="invoice-info">
                                        <strong class="customer-text">Invoice</strong>
                                        <p class="invoice-details invoice-details-two">
                                           {{invoice.client_name}} <br>
                                            {{invoice.client_email}}<br>

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="invoice-info">
                                        <strong class="customer-text">Payment Method</strong>
                                        <p class="invoice-details invoice-details-two">
                                            Debit Card <br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-item invoice-table-wrap">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="invoice-table table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Description</th>
                                                <th class="text-right">Total</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{invoice.project_name}}</td>
                                                <td class="text-center">{{invoice.amount}}</td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4 ml-auto">
                                    <div class="table-responsive">
                                        <table class="invoice-table-two table">
                                            <tbody>
                                            <tr>
                                                <th>Total:</th>
                                                <td><span>{{invoice.amount}}</span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
									{% if invoice.is_paid %}
									<h4 class="text-center text-success">Already paided</h4>
									{% else %}
                                    <form action="{% url 'invoice:make_payment' pk=invoice.invoice_id %}" method="POST">
										{% csrf_token %}
                                        <script class="stripe-button"
                                                data-amount="{{invoice.amount}}"
                                                data-description="{{invoice.project_name}}"
                                                data-key='{{key}}'
                                                data-locale="auto"
                                                src="https://checkout.stripe.com/checkout.js"
                                        >
                                        </script>
                                    </form>
									{% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- /Invoice Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
</div>
<!-- /Main Wrapper -->
{% endblock %}